#header-nav{
	background-color:#abcdef;
}
#header-nav div{
	color:#222222;
	font-style:bold;
	font-style:italic;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #bcdef0;
}
#text{
	margin:10px auto 10px;
	background-color: #67cdef;
	padding-top:15px;
	padding-bottom:15px;
}